body{
    margin: 0;
    padding: 0;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.bg-button{
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-background{
   
    background:-moz-linear-gradient(180deg, rgba(8, 0, 1, 0.84) 0%, rgba(229, 43, 43, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(180deg, rgba(8, 0, 1, 0.84) 0%, rgba(229, 43, 43, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(180deg, rgba(8, 0, 1, 0.84) 0%, rgba(229, 43, 43, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E52B2B', endColorstr='#080001', GradientType=1 );

    /* ie 10+ */
    background:-ms-linear-gradient(180deg, rgba(8, 0, 1, 0.84) 0%, rgba(229, 43, 43, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(180deg, rgba(8, 0, 1, 0.84) 0%, rgba(229, 43, 43, 1) 100%);

}
.movieform{
    width: 100% !important;
}




